<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Stage Details</h4>
            </div>
            <div class="modal-body">
                <h4>Endpoint</h4>
                <span *ngIf="stage">
                    <p *ngIf="!stage.endpoint" class="endpoint">not provisioned yet</p>
                    <a *ngIf="stage.endpoint" class="endpoint" target="_blank"
                        [attr.href]="stage.endpoint">{{ stage.endpoint }}</a>
                </span>
                <h4>Log</h4>
                <div class="log-box">
                    <span *ngFor="let line of logData?.log_messages">
                        {{ line }}<br>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
