.info-section {
  padding-top: 4px;
  padding-bottom: 4px;
}

.stage-text {
  font-size: 14px;
  line-height: 0.8em;
  text-align: left;
  display: inline-block;
}

.stage-repo,
.stage-branch {
  @extend .stage-text;
}

.log-box {
  font-family: "Monaco";
  padding: 10px;
  background-color: black;
  color: green;
  overflow-y: scroll;
  height: 500px;
}