<nav-bar></nav-bar>

<!-- grid dash -->
<div class="container-fluid">
    <ul>
        <li *ngFor="let stage of stages">
            <stage-card [stage]="stage"
                (infoClick)="onStageInfoClicked($event)"
                (statusClick)="onStageStatusClicked($event)">
            </stage-card>
        </li>
        <li>
            <stage-card [forNew]="true"
                (newClick)="onStageNewClicked($event)">
            </stage-card>
        </li>
    </ul>
</div>

<stage-info #stageInfoModal></stage-info>
