<nav-bar></nav-bar>

<!-- grid dash -->
<div class="container-fluid">
    <ul>
        <li *ngFor="let stage of stages">
            <stage-card [stage]="stage"
                (showInfo)="onShowStageInfo($event)"
                (toggleStatus)="onToggleStageStatus($event)">
            </stage-card>
        </li>
        <li>
            <stage-card [forNew]="true"
                (addNew)="onAddNewStage($event)">
            </stage-card>
        </li>
    </ul>
</div>

<stage-info #stageInfoModal></stage-info>
<stage-new #stageNewModal></stage-new>